
 <div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.first_name}}"
      placeholder="First Name"
      name="first_name"
      required
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Last Name"
      value="{{this.last_name}}"
      name="last_name"
      required
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="email@email.com"
      value="{{this.email}}"
      name="email"
      required
    />
    <label for="floatingInput">Email</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Phone"
      value="{{this.phone}}"
      name="phone"
      required
    />
    <label for="floatingInput">Phone</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating  mb-3">
    <textarea
      class="form-control comments"
      placeholder="Leave a comment here"
      id="comment"
      name="comments"
      style="height: 200px"
      required
    >{{this.comments}}</textarea>
    <label for="comments">Comments</label>
  </div>
</div>

<div class="col-12 d-grid" >
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
</div>



